html {
    position: relative;
}

body {
    font: 14px/20px "Graphik", sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    color: #333;
    min-width: 1190px;
    position: relative;
}

* {
    box-sizing: border-box;
}

.c-page {
    width: 1242px;
    margin: 0 auto;
    display: block;
    position: relative;
}