.nm-titlebox {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
}
.nm-titlebox__title {
    font-weight: 600;
    font-size: calc(16px + 14 * ((100vw - 320px) / (1242 - 320)));
    line-height: calc(20px + 16 * ((100vw - 320px) / (1242 - 320)));
    /* line-height: 36px; */
    color: #333333;
    margin-right: auto;
}
.nm-titlebox__yt {
    color: #EA0C00;
}
.nm-titlebox__link {
    display: flex;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #5947B3;
    text-decoration: none;
    transition: color .35s;
    white-space: nowrap;
}
.nm-titlebox__link .icon {
    display: block;
    width: 6px;
    height: 16px;
    margin-left: 6px;
    -webkit-mask: url('../image/nm/title-arrow.svg') center / contain no-repeat;
            mask: url('../image/nm/title-arrow.svg') center / contain no-repeat;
    background: #5947B3;
    transition: background .35s;
}
.nm-titlebox__link:hover {
    color: #7C7A87;
}
.nm-titlebox__link:hover .icon {
    background: #7C7A87;
}

.nm-filter {
    padding: 96px 0;
    margin-bottom: 48px;
    background: url('../image/nm/nmfilter-bg.png') center / cover no-repeat;
}
.nm-filter__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.nm-filter__field {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    position: relative;
}
.nm-filter__field::after {
    content: '';
    display: block;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    position: absolute;
    top: -6px;
    left: -6px;
    background: rgba(255, 255, 255, .12);
    border-radius: 12px;
}
.nm-filter__input {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #7C7A87;
    display: block;
    width: 100%;
    /* padding: 12px 8px 12px; */
    background: none;
    border: none;
    border-radius: 8px;
    z-index: 1;
}
.nm-filter__input:focus {
    outline: none;
}
.nm-filter__field .settings,
.nm-filter__field .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    z-index: 1;
    cursor: pointer;
    transition: background .35s;
}
.nm-filter__field .settings .icon,
.nm-filter__field .search .icon {
    display: block;
    width: 16px;
    height: 16px;
    transition: background .35s;
}
.nm-filter__field .settings {
    background: #E9E6FA;
}
.nm-filter__field .settings .icon {
    -webkit-mask: url('../image/nm/filter.svg') center / contain no-repeat;
            mask: url('../image/nm/filter.svg') center / contain no-repeat;
    background: #5947B3;
}
.nm-filter__field .settings:hover {
    background: #5947B3;
}
.nm-filter__field .settings:hover .icon {
    background: #FFFFFF;
}
.nm-filter__field .search {
    background: #5947B3;
    margin-left: 12px;
}
.nm-filter__field .search .icon {
    -webkit-mask: url('../image/nm/Search.svg') center / contain no-repeat;
            mask: url('../image/nm/Search.svg') center / contain no-repeat;
    background: #FFFFFF;
}
.nm-filter__field .search:hover {
    background: #E9E6FA;
}
.nm-filter__field .search:hover .icon {
    background: #5947B3;
}
.nm-filter__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px -12px;
}
.nm-filter__tags .nm-filter__tags {
    display: inline-flex;
}
.nm-filter__tag {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
    padding: 0 12px;
    margin: 0 6px 12px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    transition: color .35s, background .35s;
}
.nm-filter__tag[data-nmfilter="hidden"] {
    display: none;
}
.nm-filter__tag .amount {
    font-size: 12px;
    color: #A6A5AD;
    margin-left: 8px;
    transition: color .35s;
}
.nm-filter__tag:hover {
    color: #FFFFFF;
    background: #5947B3E6;
}
.nm-filter__tag:hover .amount {
    color: #E9E6FA;
}
.nm-filter__toggler {
    margin: 0 6px 12px;
    padding: 0 12px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    cursor: pointer;
    transition: background .35s;
}
.nm-filter__toggler .icon {
    display: block;
    width: 14px;
    height: 30px;
    -webkit-mask: url('../image/nm/filter-more.svg') center / contain no-repeat;
            mask: url('../image/nm/filter-more.svg') center / contain no-repeat;
    background: #333333;
    transition: background .35s;
}
.nm-filter__toggler:hover {
    background: #5947B3E6;
}
.nm-filter__toggler:hover .icon {
    background: #FFFFFF;
}

.nm-compilation {
    margin-bottom: 48px;
}
.nm-compilation__row {
    display: flex;
    margin: 0 -16px;
}
.nm-compilation__row + .nm-compilation__row {
    margin-top: 24px;
}
.nm-compilation__item {
    margin: 0 16px;
}
.nm-compilation__block {
}
.block-nm-compilation__image {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-bottom: 16px;
}
.block-nm-compilation__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: scale(1);
    transition: transform .35s;
}
.block-nm-compilation__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px 18px;
}
.block-nm-compilation__tag {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #1E1E21;
    padding: 0 12px;
    background: #FFFFFF;
    border-radius: 16px;
}
.block-nm-compilation__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
    margin-bottom: 4px;
    transition: color .35s;
}
.block-nm-compilation__amount {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #A6A5AD;
}
.nm-compilation__block:hover .block-nm-compilation__title {
    color: #5947B3;
}
.nm-compilation__block:hover .block-nm-compilation__image img {
    transform: scale(1.05);
}
.nm-compilation__block.nm-compilation__block-full .block-nm-compilation__image {
    height: 100%;
    margin-bottom: 0;
}
.nm-compilation__block.nm-compilation__block-full .block-nm-compilation__overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(30, 30, 33, 0) 50%, rgba(30, 30, 33, 0.9) 100%);
}
.nm-compilation__block.nm-compilation__block-full .block-nm-compilation__tag {
    margin-bottom: auto;
}
.nm-compilation__block.nm-compilation__block-full .block-nm-compilation__title {
    color: #FFFFFF;
}
.nm-compilation__block.nm-compilation__block-full .block-nm-compilation__amount {
    color: #FFFFFF;
}
.nm-compilation__amount {
    background: #F0F0FF;
    border-radius: 8px;
    padding: 18px 16px;
    flex-grow: 1;
    transition: background .35s;
}
.amount-nm-compilation__title {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #5947B3;
    margin-bottom: 14px;
    transition: color .35s;
}
.amount-nm-compilation__count {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 88px;
    line-height: 88px;
    text-align: center;
    letter-spacing: -2px;
    color: #333333;
    margin-bottom: 4px;
    transition: color .35s;
}
.amount-nm-compilation__info {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
    transition: color .35s;
}
.nm-compilation__amount:hover {
    background: #5947B3;
}
.nm-compilation__amount:hover .amount-nm-compilation__title {
    color: #F0F0FF;
}
.nm-compilation__amount:hover .amount-nm-compilation__count {
    color: #FFFFFF;
}
.nm-compilation__amount:hover .amount-nm-compilation__info {
    color: #FFFFFF;
}
.nm-compilation__special {
    display: flex;
    flex-direction: column;
    padding: 18px 16px;
    border-radius: 8px;
    background: #5947B3;
    flex-grow: 1;
    transition: background .35s;
}
.special-nm-compilation__tag {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFD767;
    transition: color .35s;
}
.special-nm-compilation__title {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-bottom: 12px;
    transition: color .35s;
}
.special-nm-compilation__image {
    display: block;
    width: 36px;
    height: 36px;
    object-fit: contain;
    margin-top: auto;
}
.nm-compilation__special:hover {
    background: #F0F0FF;
}
.nm-compilation__special:hover .special-nm-compilation__tag {
    color: #5947B3;
}
.nm-compilation__special:hover .special-nm-compilation__title {
    color: #333333;
}
.nm-compilation__smile {
    flex-basis: 176px;
    padding: 28px 16px 18px;
    border-radius: 8px;
    transition: background .35s;
}
.smile-nm-compilation__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 18px;
    border-radius: 50%;
    transition: background .35s;
}
.smile-nm-compilation__image img {
    display: block;
    width: 36px;
    height: 36px;
    object-fit: contain;
}
.smile-nm-compilation__title {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin-bottom: 4px;
    transition: color .35s;
}
.smile-nm-compilation__amount {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    transition: color .35s;
}
.nm-compilation__smile-dark {
    background: #5947B3;
}
.nm-compilation__smile-dark .smile-nm-compilation__image {
    background: #FFFFFF33;
    mix-blend-mode: normal;
}
.nm-compilation__smile-dark .smile-nm-compilation__title {
    color: #FFFFFF;
}
.nm-compilation__smile-dark .smile-nm-compilation__amount {
    color: #FFFFFF;
}
.nm-compilation__smile-dark:hover {
    background: #F0F0FF;
}
.nm-compilation__smile-dark:hover .smile-nm-compilation__image {
    background: #5947B31A;
}
.nm-compilation__smile-dark:hover .smile-nm-compilation__title {
    color: #333333;
}
.nm-compilation__smile-dark:hover .smile-nm-compilation__amount {
    color: #333333;
}
.nm-compilation__smile-light {
    background: #F0F0FF;
}
.nm-compilation__smile-light .smile-nm-compilation__image {
    background: #5947B31A;
    mix-blend-mode: normal;
}
.nm-compilation__smile-light .smile-nm-compilation__title {
    color: #333333;
}
.nm-compilation__smile-light .smile-nm-compilation__amount {
    color: #333333;
}
.nm-compilation__smile-light:hover {
    background: #5947B3;
}
.nm-compilation__smile-light:hover .smile-nm-compilation__image {
    background: #FFFFFF33;
}
.nm-compilation__smile-light:hover .smile-nm-compilation__title {
    color: #FFFFFF;
}
.nm-compilation__smile-light:hover .smile-nm-compilation__amount {
    color: #FFFFFF;
}

.nm-exclusive {
    margin-bottom: 76px;
}
.nm-exclusive__wrapper {
    position: relative;
}
.nm-exclusive__slider {
    margin: -20px;
    padding: 20px;
    position: relative;
}
.nm-exclusive__slide {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    user-select: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(37, 36, 41, 0.04), 0px 4px 16px rgba(37, 36, 41, 0.08);
}
.nm-exclusive__slide:hover .inner-nm-exclusive__pagination {
    opacity: 1;
}
.slide-nm-exclusive__inner {
    position: relative;
}
.inner-nm-exclusive__pagination {
    display: flex;
    position: absolute;
    bottom: 12px;
    left: 0;
    padding: 0 24px;
    z-index: 1;
    opacity: 0;
    transition: opacity .35s;
}
.inner-nm-exclusive__pagination .swiper-pagination-bullet {
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 0;
    transition: background .35s;
}
.inner-nm-exclusive__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #EA0C00;
}
.slide-nm-exclusive__image {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 384 / 240;
}
.slide-nm-exclusive__content {
    display: flex;
    flex-direction: column;
    padding: 24px 20px;
}
.slide-nm-exclusive__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #EBEBEB;
}
.slide-nm-exclusive__characteristics {
    display: flex;
    margin: 0 -4px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #EBEBEB;
}
.characteristics-nm-exclusive__item {
    width: 100%;
    margin: 0 4px;
}
.characteristics-nm-exclusive__title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
    white-space: nowrap;
    margin-bottom: 8px;
}
.characteristics-nm-exclusive__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
}
.slide-nm-exclusive__agency {
    display: flex;
    align-items: flex-start;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #EBEBEB;
}
.agency-nm-exclusive__image {
    width: auto;
    height: 100%;
    max-height: 40px;
    margin-right: 16px;
}
.agency-nm-exclusive__name {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
}
.agency-nm-exclusive__agency {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #5947B3;
}
.slide-nm-exclusive__footer {
    display: flex;
    align-items: flex-end;
}
.footer-nm-exclusive__price {
    margin-right: auto;
}
.footer-nm-exclusive__price .price-box .actual {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #5947B3;
    margin-bottom: 8px;
}
.footer-nm-exclusive__price .price-box .metr {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #999999;
}
.nm-exclusive__navigation {
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.nm-exclusive__navigation .swiper-scrollbar {
    width: 100%;
    height: 1px;
    background: #E8E8EB;
    margin-right: 24px;
}
.nm-exclusive__navigation .swiper-scrollbar-drag {
    background: #1E1E21;
}
.nm-exclusive__pagination {
    position: absolute;
    top: calc(100% + 21px) !important;
    left: 50% !important;
    bottom: auto !important;
    display: flex;
    width: auto !important;
    transform: translateX(-50%);
}
.nm-exclusive__bullet {
    display: block;
    width: 12px;
    height: 12px;
    background: #1E1E21;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity .35s, background .35s;
    cursor: pointer;
}
.nm-exclusive__bullet + .nm-exclusive__bullet {
    margin-left: 8px;
}
.pagination-nm-exclusive__line {
    position: absolute;
    top: 0;
    left: 0;
    right: calc(100% - 12px);
    width: auto;
    height: 12px;
    background: #5947B3;
    border-radius: 8px;
    left: 0;
    user-select: none;
    pointer-events: none;
    transition: width .35s, left .35s, right .35s;
}
.nm-exclusive__prev,
.nm-exclusive__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
    user-select: none;
    transition: background .35s, opacity .35s;
    flex-shrink: 0;
}
.nm-exclusive__prev {
    margin-right: 8px;
}
.nm-exclusive__prev .icon,
.nm-exclusive__next .icon {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-mask: url('../image/nm/slider-arrow.svg') center / contain no-repeat;
            mask: url('../image/nm/slider-arrow.svg') center / contain no-repeat;
    background: #333333;
    transition: background .35s;
}
.nm-exclusive__prev .icon {
    transform: rotate(180deg);
}
.nm-exclusive__prev.disabled,
.nm-exclusive__next.disabled {
    cursor: not-allowed;
}
.nm-exclusive__prev.disabled .icon,
.nm-exclusive__next.disabled .icon {
    background: #999999;
}
.nm-exclusive__prev:not(.disabled):hover,
.nm-exclusive__next:not(.disabled):hover {
    background: #5947B3;
}
.nm-exclusive__prev:not(.disabled):hover .icon,
.nm-exclusive__next:not(.disabled):hover .icon {
    background: #FFFFFF;
}



.nm-author {
    margin-bottom: 76px;
}
.nm-author__wrapper {
    position: relative;
}
.nm-author__slider {
}
.nm-author__slide {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    /* max-width: 220px; */
    user-select: none;
}
.slide-nm-author__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 592 / 280;
    transform: scale(1);
    transition: transform .35s;
}
.slide-nm-author__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 18px 16px;
}
.slide-nm-author__tag {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #1E1E21;
    padding: 0 12px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: auto;
}
.slide-nm-author__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 8px;
    width: 50%;
}
.slide-nm-author__subtitle {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}
.nm-author__slide:hover .slide-nm-author__image {
    transform: scale(1.05);
}
.nm-author__pagination {
    position: absolute;
    top: calc(100% + 21px) !important;
    left: 50% !important;
    bottom: auto !important;
    display: flex;
    width: auto !important;
    transform: translateX(-50%);
}
.nm-author__bullet {
    display: block;
    width: 12px;
    height: 12px;
    background: #1E1E21;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity .35s, background .35s;
    cursor: pointer;
}
.nm-author__bullet + .nm-author__bullet {
    margin-left: 8px;
}
.pagination-nm-author__line {
    position: absolute;
    top: 0;
    left: 0;
    right: calc(100% - 12px);
    width: auto;
    height: 12px;
    background: #5947B3;
    border-radius: 8px;
    left: 0;
    user-select: none;
    pointer-events: none;
    transition: width .35s, left .35s, right .35s;
}
.nm-author__prev,
.nm-author__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
    user-select: none;
    transition: background .35s, opacity .35s;
}
.nm-author__prev .icon,
.nm-author__next .icon {
    display: block;
    width: 24px;
    height: 24px;
    -webkit-mask: url('../image/nm/slider-arrow.svg') center / contain no-repeat;
            mask: url('../image/nm/slider-arrow.svg') center / contain no-repeat;
    background: #5947B3;
    transition: background .35s;
}
.nm-author__prev .icon {
    transform: rotate(180deg);
}
.nm-author__prev {
    left: -24px;
}
.nm-author__next {
    right: -24px;
}
.nm-author__prev.disabled,
.nm-author__next.disabled {
    opacity: 0;
    pointer-events: none;
}
.nm-author__prev:hover,
.nm-author__next:hover {
    background: #5947B3;
}
.nm-author__prev:hover .icon,
.nm-author__next:hover .icon {
    background: #FFFFFF;
}

.nm-popular {
    margin-bottom: 76px;
}
.nm-popular__wrapper {
    position: relative;
}
.nm-popular__slider {
}
.nm-popular__slide {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    /* max-width: 220px; */
    user-select: none;
}
.slide-nm-popular__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 220 / 400;
    transform: scale(1);
    transition: transform .35s;
}
.slide-nm-popular__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 18px 16px;
    background: linear-gradient(180deg, rgba(30, 30, 33, 0) 20%, rgba(30, 30, 33, 0.9) 100%);
}
.slide-nm-popular__tag {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #1E1E21;
    padding: 0 12px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: auto;
}
.slide-nm-popular__logo {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 188 / 114;
    margin-bottom: 14px;
}
.slide-nm-popular__devider {
    display: block;
    width: 16px;
    height: 4px;
    margin: 0 auto 14px;
    background: #FFFFFF;
}
.slide-nm-popular__title {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 4px;
}
.slide-nm-popular__amount {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    width: 100%;
}
.nm-popular__slide:hover .slide-nm-popular__image {
    transform: scale(1.05);
}
.nm-popular__pagination {
    position: absolute;
    top: calc(100% + 21px) !important;
    left: 50% !important;
    bottom: auto !important;
    display: flex;
    width: auto !important;
    transform: translateX(-50%);
}
.nm-popular__bullet {
    display: block;
    width: 12px;
    height: 12px;
    background: #1E1E21;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity .35s, background .35s;
    cursor: pointer;
}
.nm-popular__bullet + .nm-popular__bullet {
    margin-left: 8px;
}
.pagination-nm-popular__line {
    position: absolute;
    top: 0;
    left: 0;
    right: calc(100% - 12px);
    width: auto;
    height: 12px;
    background: #5947B3;
    border-radius: 8px;
    left: 0;
    user-select: none;
    pointer-events: none;
    transition: width .35s, left .35s, right .35s;
}
.nm-popular__prev,
.nm-popular__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
    user-select: none;
    transition: background .35s, opacity .35s;
}
.nm-popular__prev .icon,
.nm-popular__next .icon {
    display: block;
    width: 24px;
    height: 24px;
    -webkit-mask: url('../image/nm/slider-arrow.svg') center / contain no-repeat;
            mask: url('../image/nm/slider-arrow.svg') center / contain no-repeat;
    background: #5947B3;
    transition: background .35s;
}
.nm-popular__prev .icon {
    transform: rotate(180deg);
}
.nm-popular__prev {
    left: -24px;
}
.nm-popular__next {
    right: -24px;
}
.nm-popular__prev.disabled,
.nm-popular__next.disabled {
    opacity: 0;
    pointer-events: none;
}
.nm-popular__prev:hover,
.nm-popular__next:hover {
    background: #5947B3;
}
.nm-popular__prev:hover .icon,
.nm-popular__next:hover .icon {
    background: #FFFFFF;
}

.nm-news {
    margin-bottom: 48px;
}
.nm-news__list {
    display: flex;
    margin: 0 -16px;
}
.nm-news__item {
    width: 100%;
    padding: 18px 16px;
    margin: 0 16px;
    background: #F7F6FB;
    border-radius: 8px;
}
.item-nm-news__date {
    display: flex;
    margin-bottom: 18px;
}
.item-nm-news__day {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
}
.item-nm-news__day-info {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #DEDEE0;
}
.item-nm-news__month {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.item-nm-news__weekday {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A6A5AD;
}
.item-nm-news__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.nm-journal {
    margin-bottom: 48px;
}
.nm-journal__header {
    display: flex;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid #E8E8EB;
    position: relative;
}
.nm-journal__toggler {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    display: block;
    width: 0px;
    height: 2px;
    background: #5947B3;
    transition: left .35s, width .35s;
}
.header-nm-journal__item {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7C7A87;
    transition: color .35s;
    cursor: pointer;
}
.header-nm-journal__item.active {
    color: #5947B3;
}
.header-nm-journal__item + .header-nm-journal__item {
    margin-left: 24px;
}
.header-nm-journal__item:hover {
    color: #5947B3;
}
.nm-journal__body {
    overflow: hidden;
}
.body-nm-journal__wrapper {
    display: flex;
    transition: transform .35s;
}
.body-nm-journal__item {
    display: block;
    width: 100%;
    flex-shrink: 0;
    transition: opacity .35s, transform .35s;
    /* animation: tab normal 0.35s linear 1; */
}
.body-nm-journal__item + .body-nm-journal__item {
    margin-left: 32px;
}
.body-nm-journal__item.active {
    display: block;
}
.body-nm-journal__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    grid-template-areas: "Big Big Small1 Small2"
                         "Big Big Medium Medium";
    margin-bottom: 24px;
}
.item-body-nm-journal__news {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}
.item-body-nm-journal__news.big {
    grid-area: Big;
}
.item-body-nm-journal__news.medium {
    grid-area: Medium;
}
.item-body-nm-journal__image {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transform: scale(1);
    transition: transform .35s;
}
.item-body-nm-journal__news.medium .item-body-nm-journal__image {
    aspect-ratio: 2 / 1;
}
.item-body-nm-journal__overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 18px 16px;
    background: linear-gradient(180deg, rgba(30, 30, 33, 0) 50%, rgba(30, 30, 33, 0.9) 100%);
}
.item-body-nm-journal__tag {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #1E1E21;
    padding: 0 12px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: auto;
}
.item-body-nm-journal__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.item-body-nm-journal__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}
.item-body-nm-journal__news:hover .item-body-nm-journal__image {
    transform: scale(1.05);
}
.item-body-nm-journal__link {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 56px;
    color: #5947B3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #F7F6FB;
    border-radius: 8px;
    transition: color .35s, background .35s;
}
.item-body-nm-journal__link .icon {
    display: block;
    width: 6px;
    height: 20px;
    margin-left: 6px;
    -webkit-mask: url('../image/nm/title-arrow.svg') center / contain no-repeat;
            mask: url('../image/nm/title-arrow.svg') center / contain no-repeat;
    background: #5947B3;
    transition: background .35s;
    transition: background .35s;
}
.item-body-nm-journal__link:hover {
    color: #F7F6FB;
    background: #5947B3;
}
.item-body-nm-journal__link:hover .icon {
    background: #F7F6FB;
}

@keyframes tab {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.nm-youtube {
    margin-bottom: 76px;
}
.nm-youtube__wrapper {
    position: relative;
}
.nm-youtube__slider {
}
.nm-youtube__slide {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    /* max-width: 220px; */
    user-select: none;
}
.slide-nm-youtube__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 560 / 314;
    transform: scale(1);
    transition: transform .35s;
}
.nm-youtube__slide:hover .slide-nm-youtube__image {
    transform: scale(1.05);
}
.nm-youtube__pagination {
    position: absolute;
    top: calc(100% + 21px) !important;
    left: 50% !important;
    bottom: auto !important;
    display: flex;
    width: auto !important;
    transform: translateX(-50%);
}
.nm-youtube__bullet {
    display: block;
    width: 12px;
    height: 12px;
    background: #1E1E21;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity .35s, background .35s;
    cursor: pointer;
}
.nm-youtube__bullet + .nm-youtube__bullet {
    margin-left: 8px;
}
.pagination-nm-youtube__line {
    position: absolute;
    top: 0;
    left: 0;
    right: calc(100% - 12px);
    width: auto;
    height: 12px;
    background: #5947B3;
    border-radius: 8px;
    left: 0;
    user-select: none;
    pointer-events: none;
    transition: width .35s, left .35s, right .35s;
}
.nm-youtube__prev,
.nm-youtube__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
    user-select: none;
    transition: background .35s, opacity .35s;
}
.nm-youtube__prev .icon,
.nm-youtube__next .icon {
    display: block;
    width: 24px;
    height: 24px;
    -webkit-mask: url('../image/nm/slider-arrow.svg') center / contain no-repeat;
            mask: url('../image/nm/slider-arrow.svg') center / contain no-repeat;
    background: #5947B3;
    transition: background .35s;
}
.nm-youtube__prev .icon {
    transform: rotate(180deg);
}
.nm-youtube__prev {
    left: -24px;
}
.nm-youtube__next {
    right: -24px;
}
.nm-youtube__prev.disabled,
.nm-youtube__next.disabled {
    opacity: 0;
    pointer-events: none;
}
.nm-youtube__prev:hover,
.nm-youtube__next:hover {
    background: #5947B3;
}
.nm-youtube__prev:hover .icon,
.nm-youtube__next:hover .icon {
    background: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .nm-titlebox__title {
        font-size: 30px;
    }
    html {
        min-width: 1242px;
    }
    .nm-filter {
        min-width: 1242px;
    }
    .c-page {
        padding: 0 24px;
    }
}
@media screen and (max-width: 767px) {
    body {
        min-width: auto;
    }
    .c-page {
        width: 100%;
        padding: 0 24px;
    }
    .nm-compilation__row {
        flex-wrap: wrap;
    }
    .nm-compilation__block {
        width: calc(50% - 32px);
        order: 1;
    }
    .nm-compilation__smile {
        flex-basis: auto;
        width: calc(40% - 32px);
        margin-bottom: 32px;
    }
    .nm-compilation__special,
    .nm-compilation__amount {
        width: calc(60% - 32px);
        margin-bottom: 32px;
    }
    .nm-youtube__prev,
    .nm-author__prev,
    .nm-popular__prev {
        left: -16px;
    }
    .nm-youtube__next,
    .nm-author__next,
    .nm-popular__next {
        right: -16px;
    }
    .nm-news__list {
        flex-wrap: wrap;
    }
    .nm-news__item + .nm-news__item {
        margin-top: 16px;
    }
    .nm-journal__header {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .header-nm-journal__item {
        white-space: nowrap;
    }
    .body-nm-journal__grid {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 0px;
    }
    .item-body-nm-journal__news.big {
        width: 100%;
        margin-bottom: 32px;
    }
    .item-body-nm-journal__news.small {
        width: calc(100% / 2 - 32px / 2);
        margin-bottom: 32px;
    }
    .item-body-nm-journal__news.small + .small {
        margin-left: 32px;
    }
    .item-body-nm-journal__news.medium {
        width: 100%;
    }
}
@media screen and (max-width: 567px) {
    .nm-filter {
        padding: 48px 0;
    }
    .nm-filter__title {
        font-size: 24px;
        line-height: 28px;
    }
    .nm-filter__field {
        padding: 12px 8px;
    }
    .nm-filter__input {
        font-size: 16px;
        line-height: 20px;
    }
    .nm-filter__field .search {
        margin-left: 6px;
    }
    .nm-filter__field .settings, .nm-filter__field .search {
        width: 40px;
        height: 40px;
    }
    .nm-filter__tag {
        padding: 0 8px;
        font-size: 12px;
    }
    .nm-filter__tag .amount {
        margin-left: 4px;
    }
    .nm-compilation__row + .nm-compilation__row {
        margin-top: 0;
    }
    .nm-compilation__smile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: calc(18px * 2 + 80px);
        padding: 18px 16px;
        margin-bottom: 16px;
        position: relative;
    }
    .smile-nm-compilation__image {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }
    .smile-nm-compilation__title {
        text-align: left;
    }
    .smile-nm-compilation__amount {
        text-align: left;
    }
    .nm-compilation__amount {
        width: 100%;
        margin-bottom: 16px;
    }
    .amount-nm-compilation__count {
        font-size: 60px;
        line-height: 60px;
    }
    .nm-compilation__block {
        width: 100%;
        margin-bottom: 16px;
    }
    .nm-compilation__special {
        margin-bottom: 16px;
    }
    .special-nm-compilation__tag,
    .special-nm-compilation__title {
        font-size: 20px;
    }
    .item-body-nm-journal__overlay {
        background: linear-gradient(180deg, rgba(30, 30, 33, 0) 20%, rgba(30, 30, 33, 0.9) 100%);
    }
    .item-body-nm-journal__news.small {
        width: 100%;
    }
    .item-body-nm-journal__news.small .item-body-nm-journal__image {
        aspect-ratio: 2 / 1;
    }
    .item-body-nm-journal__news.small + .small {
        margin-left: 0;
    }
    .item-body-nm-journal__title {
        font-size: 20px;
    }
    .nm-popular__prev, .nm-popular__next,
    .nm-youtube__prev, .nm-youtube__next {
        width: 32px;
        height: 32px;
    }
    .nm-popular__prev .icon, .nm-popular__next .icon,
    .nm-youtube__prev .icon, .nm-youtube__next .icon {
        width: 16px;
        height: 16px;
    }
    .nm-author__prev, .nm-author__next {
        width: 32px;
        height: 32px;
    }
    .nm-author__prev .icon, .nm-author__next .icon {
        width: 16px;
        height: 16px;
    }
    .slide-nm-author__title {
        width: auto;
        font-size: 16px;
        line-height: 20px;
    }
    .slide-nm-author__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}